{% extends 'main/index.html' %}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-start text-white">
                <h1 class="display-5 fw-bolder">Личный кабинет</h1>

            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5 my-5">
        <div class = "text-start" style="height: 100%">
            {% if request.user.is_authenticated %}
                        <h3>Добро пожаловать, {{ user.first_name }}!</h3>
                    {% else %}
                        <h3>Вы не авторизованы</h3>
            {% endif %}
        </div>
    </div>
    <div class="container px-4 px-lg-5 my-5" style="padding-bottom: 10%">
        <div class = "text-start" style="height: 100%">
            <h3> Переходите в меню, там вас ждёт много интересного! </h3>
        </div>
    </div>


{% endblock content %}