
<link href="carousel.css" rel="stylesheet">
{% extends 'main/index.html' %}

{% load static %}

{% block content %}
 <header class="bg-dark py-5">
     <div class="container px-4 px-lg-5 my-5">
         <div class="text-start text-white">
             <h1 class="display-4 fw-bolder">О нас</h1>
         </div>
     </div>
 </header>

<main role="main">

      <div class="container marketing">
            <br>
          <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">#Затащено — это образовательная площадка, на которой собраны онлайн-курсы по подготовке к экзаменам, олимпиадам и другим видам испытаний, связанных с образованием. Давай затащим вместе с нами! </h2>
            <p class="lead" ></p>
          </div>

        </div>

        <hr class="featurette-divider">

        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="/media/tkachenko.jpg" alt="Мария Ткаченко" width="150" height="140">
            <h2>Мария Ткаченко</h2>
            <p> - Студентка бюджета Экономического факультета НИУ ВШЭ, средний балл 9.19 из 10 <br><br>
                - ЕГЭ по математике 98 баллов (за 4 предмета 395/400) <br><br>
                - Победитель и призёр многих олимпиад по экономике (Высшая проба, МОШ, региональный этап ВсОШ)
            </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/media/nikita.jpg" alt="Никита Битюцкий" width="140" height="140">
            <h2>Никита Битюцкий</h2>
            <p> - Студент бюджета Экономического факультета НИУ ВШЭ <br><br>
                - Выпускник Лицея НИУ ВШЭ, средний балл аттестата 5.00 из 5 <br><br>
                - Уровень английского языка Advanced <br><br>
                - Международный сертификат IELTS 7.5 <br><br>
                - Выпускник более 5 летних школ Англии
            </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/media/maria.jpg" alt="Мария Ткаченко" width="150" height="140">
            <h2>Мария Долгодворова</h2>
            <p> - Студентка «Фундаментальной и компьютерной лингвистики» НИУ ВШЭ <br><br>
                - Средний балл 8.5 <br><br>
                - Выпускница лингвистической гимназии <br><br>
                - Опыт преподавания русского и английского языка более 2х лет
            </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Мы помогаем подготовиться к:</h2>
            <p class="lead">1. Перечневым олимпиадам по различным предметам (журналистика, политология и др.) <br><br>
2. Вступительным испытаниям в школы и лицеи (например, в Лицей НИУ ВШЭ). <br><br>
3. ОГЭ по математике, русскому языку и обществознанию.<br><br>
4. ЕГЭ по профильной математике с помощью специальных интенсивных курсов.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Наши преимущества:</h2>
            <p class="lead">- Команда молодых и амбициозных преподавателей, которые, как никто другой, понимают оптимальные методы подготовки к образовательным испытаниям. <br><br>
                            - Доступ к материалам курса 24/7, а потому часовые пояса нам не помеха <br><br>
                            - Не только качественно подготовленные видео и индивидуальный фидбэк по каждой домашке от преподавателя, но и мотивация и слова поддержки️</p>
          </div>
          <div class="col-md-5 order-md-1"></div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Наши принципы:</h2>
            <p class="lead">Мы считаем, что необходимо готовиться так, чтобы в результате можно было с гордостью сказать: «Затащено!» Для этого необходимо много ботать и получать положительные эмоции от самого процесса, чтобы не потерять свои ориентиры.
            </p>
          </div>
        </div>

        <hr class="featurette-divider">
      </div>
</main>

{% endblock content %}