{% extends 'main/index.html' %}

{% block content %}

    <header class="bg-dark py-5"> </header>

    <div class="container px-4 px-lg-5 my-5">
        <div class = "text-start" style="height: 100%">
            <h3>Мы отправили вам на почту ссылку для завершения регистрации</h3>
        </div>
    </div>
    <div class="container px-4 px-lg-5 my-5" style="padding-bottom: 15%">
        <div class = "text-start" style="height: 100%">
            <h3> Пожалуйста, проверьте почту и перейдите по ссылке. </h3>
        </div>
    </div>


{% endblock content %}