{% extends 'main/index.html' %}
{% load static %}
{% block content %}
    <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-1">
                <div class="text-start text-white">
                    <h2 class="display-5 fw-bolder">Наши товары</h2>
                </div>
            </div>
        </header>

	<div class="row justify-content-md-start" style="margin: 50px 5% 10px 10%; padding-bottom: 20px">
         <div class="col-lg-2 mt-2" style="height:100%">
             <h5 class="text-start">Категории</h5>
            <div class="list-group" style="height:100%">
                <a style="" href="/products" class="list-group-item">Все товары</a>
                <br>
                {% for category in categories %}
                    <a href="/products/?category={{ category.id }}" class="list-group-item">{{ category.title }}</a>
                {% endfor %}
                <br>
                <form method="get">
                    {{ myFilter.form }}
                    <button class="btn btn-outline-secondary" type="submit">Поиск</button>
                </form>
            </div>
          {% block productfilter %}
          {% endblock productfilter %}
         </div>

        {% for product in products %}
            {% if product.is_available %}
                <div class="col-md-3" style="margin-top:10px; padding-bottom: 70px" >
                    <a href="{{ product.get_absolute_url }}"><img class="thumbnail" src="{{ product.image.url }}"></a>
                    <div class="box-element product" style="height: 30%">
                        <a href="{{ product.get_absolute_url }}"><h6 ><strong>{{ product.title }}</strong></h6></a>
                        <hr>
                        <div>
                            <button data-product={{ product.id }} data-action="add" class="btn btn-outline-secondary add-btn update-cart">В корзину</button>
                            <h4 style="display: inline-list-item; float: right"><strong>{{ product.price }}</strong></h4>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

	</div>

{% endblock content %}
